<div class="well">

	<div ng-repeat="item in list track by $id(item)" style="margin-top:5px;">
		<div class="row">
			<div class="col-sm-10">
				<digger-field-render readonly="readonly" field="field" container="container" model="item" fieldname="usefieldname" fieldtype="fieldtype" />
			</div>
			<div class="col-sm-2">

				<button class="btn btn-xs" ng-class="{'digger-form-invis':$first}" ng-click="moverow($index, -1)">
				 	<i title="Up" class="icon-sort-up icon-white"></i>
				</button>
				


				<button class="btn btn-xs" ng-click="deleterow($index);">
				 	<i title="Delete" class="icon-trash icon-white"></i>
				</button>


				<button class="btn btn-xs" ng-class="{'digger-form-invis':$last}" ng-click="moverow($index, 1)">
				 	<i title="Down" class="icon-sort-down icon-white"></i>
				</button>

			</div>
		</div>
	</div>

	<button class="btn btn-info btn-sm" ng-click="addrow()" style="margin-top:10px;">
	 	add
	</button>

</div>